:root {
  --primary-color: hsl(130, 55%, 55%);
}

#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  place-items: center;
}

.app {
  height: 100vh;
  text-align: center;
  place-items: center;
}

.info {
  height: 80vh;
  text-align: center;
  place-items: center;
}

.graph {
  width: 40vw;
  margin: auto;
}

.title {
  transition: all ease-in-out .1s;
}

.title:hover {
  color: var(--primary-color);
  font-size: 4rem;
  font-weight: 999;
}

a:hover {
  text-decoration: underline;
}

.upload-error {
  color: #d44;
}
